@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <p>
            This web app uses the ASP.NET Core MVC framework. The model has a hardcoded repository class with all the needed tables (75 entries), the values are then filtered using Linq, and a linear interpolation method is used whenever needed. The backend is programmed in C#, the views use HTML with Razor syntax, and the styling is done with Bootstrap. You can check the code repository on GitHub using this
            <a href="https://github.com/joaosantos7614/GlassCalc" target="_blank">link</a>.
        </p>
    </div>
</div>
